
.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube {
position: relative;
width: 100px;
height: 100px;
margin: 20px;
transform-style: preserve-3d;
animation: moveRight 0.5s ease-in, rotateAndMoveBack 2s ease-in 0.5s, continuousRotation 2s 2.5s forwards;
}
.face {
background-color: #ac0000;
position: absolute;
width: 100px;
height: 100px;
border: 1px solid rgb(0, 0, 0);
display: flex;
/*background:url('../images/yuva.cropped.circle.png');*/
justify-content: center;
align-items: center;
font-size: 20px;
color: black;
opacity:0.9;
animation: shatter 0s ease-in 4s forwards;
border-radius: 5px;
}


/* .front  { background: linear-gradient(45deg, ), url('../images/yuva.cropped.circle.png'); background-size: cover; transform: translateZ(50px);opacity:1;}
.back   { background: linear-gradient(45deg, rgba(255, 0, 255, 0.218), rgba(255, 255, 0, 0.28)), url('../images/yuva.cropped.circle.png'); background-size: cover;  transform: rotateY(180deg) translateZ(50px); opacity:1;}
.right  { background: linear-gradient(45deg, rgba(144, 238, 144, 0.245), rgba(255, 0, 255, 0.211)), url('../images/yuva.cropped.circle.png'); background-size: cover;  transform: rotateY(90deg) translateZ(50px);opacity:1; }
.left   { background: linear-gradient(45deg, rgba(255, 255, 0, 0.225), rgba(65, 105, 225, 0.184)), url('../images/yuva.cropped.circle.png');background-size: cover;   transform: rotateY(-90deg) translateZ(50px);opacity:1; }
.top    { background: linear-gradient(45deg, rgba(255, 0, 255, 0.266), rgba(41, 74, 173, 0.306)), url('../images/yuva.cropped.circle.png');background-size: cover;  transform: rotateX(90deg) translateZ(50px);opacity:1; }
.bottom { background: linear-gradient(45deg, rgba(144, 238, 144, 0.199), rgba(255, 255, 0, 0.222)), url('../images/yuva.cropped.circle.png');background-size: cover;  transform: rotateX(-90deg) translateZ(50px); opacity:1;}
 */

/* 
.front  {  background-position:0%; background-size: cover; transform: translateZ(50px);  }
.back   {  background-position:0%; background-size: cover; transform: rotateY(180deg) translateZ(50px); }
.right  {  background-position:0%; background-size: cover;  transform: rotateY(90deg) translateZ(50px); }
.left   {  background-position:0%; background-size: cover; transform: rotateY(-90deg) translateZ(50px); }
.top    {  background-position:0%; background-size: cover;  transform: rotateX(90deg) translateZ(50px); }
.bottom {  background-position:0%; background-size: cover;  transform: rotateX(-90deg) translateZ(50px); } */
.front {
    background: #F08219 url('../images/yuva.cropped.circle.png') no-repeat center / cover;
    transform: translateZ(50px);
    opacity: 1;
  }
  
  .back {
    background: #F08219 url('../images/yuva.cropped.circle.png') no-repeat center / cover;
    transform: rotateY(180deg) translateZ(50px);
    opacity: 1;
  }
  
  .right {
    background: #38B6FF url('../images/yuva.cropped.circle.png') no-repeat center / cover;
    transform: rotateY(90deg) translateZ(50px);
    opacity: 1;
  }
  
  .left {
    background: #38B6FF url('../images/yuva.cropped.circle.png') no-repeat center / cover;
    transform: rotateY(-90deg) translateZ(50px);
    opacity: 1;
  }
  
  .top {
    background: #004AAD url('../images/yuva.cropped.circle.png') no-repeat center / cover;
    transform: rotateX(90deg) translateZ(50px);
    opacity: 1;
  }
  
  .bottom {
    background: #004AAD url('../images/yuva.cropped.circle.png') no-repeat center / cover;
    transform: rotateX(-90deg) translateZ(50px);
    opacity: 1;
  }
  

.data-stream {
position: absolute;
width: 50px;
height: 4px;
background: linear-gradient(to right, cyan, transparent);
opacity: 0;
animation: dataFlow1 1s ease-in 0.5s forwards;
}

@keyframes moveRight {
0% { transform: translateX(0px); }
100% { transform: translateX(100px); }
}

@keyframes rotateAndMoveBack {
0% { transform: translateX(100px) rotateY(0deg); }
25% { transform: translateX(50px) rotateY(0deg); }
50% { transform: translateX(0px) rotateY(360deg); }
100% { transform: rotateX(60deg) rotateY(360deg) rotateZ(-45deg); }
}

@keyframes continuousRotation {
0% { transform: rotateX(60deg) rotateY(360deg) rotateZ(-45deg); }
100% { transform: rotateX(60deg) rotateY(-360deg) rotateZ(-45deg); }
}



.data-stream:nth-child(1) {
animation: dataFlow1 1s ease-in 0.5s forwards;
}
.data-stream:nth-child(2) {
animation: dataFlow2 1s ease-in 0.6s forwards;
}
.data-stream:nth-child(3) {
animation: dataFlow3 1s ease-out 0.5s forwards;
}

@keyframes dataFlow1 {
0% { transform: translateX(100px); opacity: 1; }
50% { transform: translateX(60px); opacity: 1; }
100% { transform: translateX(200px); opacity: 0; }
}

@keyframes dataFlow2 {
0% { transform: translateX(100px); opacity: 1; }
50% { transform: translateX(70px); opacity: 1; }
100% { transform: translateX(200px); opacity: 0; }
}
@keyframes dataFlow3 {
0% { transform: translateX(100px); opacity: 1; }
50% { transform: translateX(60px); opacity: 1; }
100% { transform: translateX(200px); opacity: 0; }
}

@keyframes shatter {
0% { opacity: 1; }
10% { opacity: 0.9; }
60% {opacity:1;background: none;}
90% { opacity: 0.9; }
100% {opacity:1;background: none;}
}






@keyframes showup {
    0% { opacity: 0.6; transform: rotateX(0deg) rotateY(0deg) rotateZ(-270deg) scale(0.7); }
    20% { opacity: 1; }
    50% { opacity: 1; }
    70% { opacity: 1; transform: scale(1.1); }
    95% { opacity:1; transform:rotateZ(-360deg) scale(1.1);;}
    97% { opacity: 1; transform: scale(1.2);}
    100% { opacity: 1; transform:scale(1); opacity:0.9;}

    /* from {
    opacity:1;
    transform: rotate(10deg);
    }
    to {
    opacity:1;
    transform: rotate(-360deg);
    } --end here*/
}

.hero-section {
  /*background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://source.unsplash.com/1600x900/?education,entrepreneurship');*/
  background: linear-gradient(rgb(2 159 188), rgb(91 0 255 / 94%));
  background-size: cover;
  color: white;
  padding: 50px 20px;
  text-align: center;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  display: block;
  min-height:400px;
}
.nav-item{
margin:5px;
}
.logo{
height:100px;
border-radius:4px;

background:#fff;
}

.bg-image-hero-container{
height:200px;
width:200px;
padding:30px;
margin:0 auto;
border-radius: 50%; /* Makes it round */
background:#fff;

/*clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);*/




}
.bg-image-hero{
width:120px;
height:120px;
border-radius:50%;
background-image: url('../images/yuva.cropped.circle.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin-top: -37px;
margin-left: 12px;
opacity: 0;
animation: showup 4s ease-out 4s forwards;


}
.card {
box-shadow: 0px 0px 15px rgba(43, 112, 215, 0.2);
transition: all 0.3s ease-in-out;

}
.col-md-3
{
margin-bottom:20px;
}
.card:hover {
box-shadow: 0px 0px 25px rgba(43, 112, 215, 0.4);
transform: scale(1.05);
}


.navbar-brand img {
    height: 80px;
}


.keyword {
    display: inline-block;
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-right: 5px;
    margin-bottom: 5px;
}


.image-container {
   
    height: 200px; /* Set the desired height */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop while maintaining aspect ratio */
    object-position: center; /* Center the cropped area */
}




.details_picture-img {
  max-height: 350px;
  object-fit: cover;
  width: 100%;  
  vertical-align: middle;
  overflow: hidden;
}

.ovalCard {
  background: #e6e6e6 0 0 no-repeat padding-box;
  border-radius: 15px;
  color: #000;
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  margin-bottom: 4px;
  margin-right: 4px;
  max-width: 46%;
  overflow: hidden;
  padding: 8px 24px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-searchtags
{
  margin:10px;
  margin-bottom:20px;
}

.details__content-tabs .nav-link.active {
  background-color: #f0f0f0;
  border: initial;
  border-bottom: 2px solid #25a7ff;
  color: #323232;
  font-family: Roboto-Bold;
}

.col-md-6
{
  padding:20px;
}

.details_description
{
  padding:20px;
}
.details__content-features-data p {
  font-family: Roboto-Bold;
  font-size: 16px;
}