@font-face {
    font-family: 'yuva';
    font-style: normal;
    font-weight: 400;
    src: local('yuva'), url('../fonts/yuva2.woff') format('woff');
}



@font-face {
    font-family: 'datastack';
    font-style: normal;
    size: 400;
    src: local('datastack'), url('../fonts/datastack.woff') format('woff');
}




@font-face {
    font-family: 'Roboto';
    font-style: normal;
    size: 400;
    src: local('Roboto'), url('../fonts/Roboto-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    size: 400;
    src: local('Roboto-Bold'), url('../fonts/Roboto-Bold.woff') format('woff');
}