
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    YUVA | Dashboard and Analytics
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="YUVA | Dashboard and Analytics">
<meta name="author" content="J&K Government">
<meta name="description" content="" />

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<link type="text/css" href="{{ config.ASSETS_ROOT }}/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<link type="text/css" href="{{ config.ASSETS_ROOT }}/vendor/notyf/notyf.min.css" rel="stylesheet">
<link type="text/css" href="{{ config.ASSETS_ROOT }}/css/volt.css" rel="stylesheet">

<link type="text/css" href="{{ config.ASSETS_ROOT }}/css/highcharts-custom.css" rel="stylesheet">

<link type="text/css" href="{{ config.ASSETS_ROOT }}/css/customcss.css" rel="stylesheet">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/online-assets/all.min.css" />

<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>
    <div class="loadingbar hidden" id="loadingbar" >YUVA Analytics | <i> &nbsp; Loading...</i></div>
    {% include 'includes/sidebar.html' %}
    
    <main class="content">

      {% include 'includes/navigation.html' %}

      {% block content %}{% endblock content %} 

      

      {% include 'includes/footer.html' %}

    </main>

  {% include 'includes/scripts.html' %}
    
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}  

</body>
</html>
