{% extends "layouts/base-fullscreen.html" %}


{% block content%}
<body> 
    <!-- Hero Section -->
    <div class="hero-section heading-banner">
        <div class="row text-start" style="margin-bottom:50px;">
            <div class="col-12">
                <p style="font-family: Roboto;">
                    <a href="/index" style="color:white;" >Home </a> <i class="fa-solid fa-play" style="margin:5px;"></i> <b>My Dashboard</b>
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-12" >
                <div class="shadow filtercardsborder details__content-tabs">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active navitemsmain" id="tab-1-tab" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab" aria-controls="tab-1" aria-selected="true">
                                Subscriptions
                            </button>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                            <button class="nav-link navitemsmain" id="tab-2-tab" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false" tabindex="-1">
                                Inbox
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link navitemsmain" id="tab-2-tab" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false" tabindex="-1">
                                Profile
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link navitemsmain" id="tab-2-tab" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false" tabindex="-1">
                                Change Password
                            </button>
                        </li> -->
                        

                    </ul>
    
                    <!-- Tab Content -->
                    <div class="tab-content p-3" id="myTabContent" style="background-color:#fff;">
                        <!-- Tab 1 Content -->
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1-tab">
                            <div class="row">
                                <div class="col-12" style="padding:20px;">
                                    {% if existing_requests %}
                                    {% for r,d in existing_requests %}
                                    
                                    {% if r.status_of_request == 'accepted' %}     
                                    <div class="container mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                                        <div class="row align-items-stretch">
                                            <!-- Small width column for icon -->
                                            
                                            <div class="col-2 icon-col d-flex align-items-center" style="color:#000; text-align: center;">
                                                <div class="row" style="color:#709f83;">
                                                    <div class="col-12">
                                                        <i class="fa-solid fa-circle-check" style="font-size:80px;"></i>
                                                    </div>
                                                    <div class="col-12" style="text-transform: uppercase;">
                                                        {{r.status_of_request}}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- Second column with two rows -->
                                            <div class="col" style="text-align: left;">
                                                <div class="row">
                                                    <div class="col bg-white text-black p-3">
                                                        <span>Datastack Name: </span>
                                                        <span style="font-family: Roboto-bold;">{{d.datastack_name}}</span>
                                                    </div>
                                                </div>

                                               
                                                <div class="row" style="border-top:1px solid rgb(215, 213, 213);">

                                                    <div class="col-4 bg-white text-black p-3">Date Requested<br><span id="formattedDates" style="font-family: Roboto-bold;" data-date="{{r.creation_date}}"></span></div>
                                                    <div class="col-4  bg-white text-black p-3">Date of Approval<br><span id="formattedDates" style="font-family: Roboto-bold;" data-date="{{r.updated_date}}"></span></div>
                                                    <div class="col-4 bg-white text-black p-3"><a href="{{d.url}}" target="_blank"><button class="btn btn-warning">CLICK TO DOWNLOAD</button></a></div>
                                                </div>
                                                <div class="row" style="border-top:1px solid rgb(215, 213, 213);">
                                                    <div class="col bg-white text-black p-3">
                                                        <span>Remarks: </span>
                                                        <span style="font-family: Roboto-bold;">{{r.remarks}}</span>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% elif r.status_of_request == 'rejected' %}     
                                    <div class="container mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                                        <div class="row align-items-stretch">
                                            <!-- Small width column for icon -->
                                            <div class="col-2 icon-col d-flex align-items-center" style="color:#000; text-align: center;">
                                                <div class="row" style="color:#9f7670;">
                                                    <div class="col-12">
                                                        <i class="fa-solid fa-ban" style="font-size:80px;"></i>
                                                    </div>
                                                    <div class="col-12" style="text-transform: uppercase;">
                                                        {{r.status_of_request}}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- Second column with two rows -->
                                            <div class="col" style="text-align: left;">
                                                <div class="row">
                                                    <div class="col bg-white text-black p-3">
                                                        <span>Datastack Name: </span>
                                                        <span style="font-family: Roboto-bold;">{{d.datastack_name}}</span>
                                                    </div>
                                                </div>

                                               
                                                <div class="row" style="border-top:1px solid rgb(215, 213, 213);">
                                                    <div class="col-4 bg-white text-black p-3">Date Requested<br><span id="formattedDates" style="font-family: Roboto-bold;" data-date="{{r.creation_date}}"></span></div>
                                                    <div class="col-4  bg-white text-black p-3">Date of Rejection<br><span id="formattedDates" style="font-family: Roboto-bold;" data-date="{{r.updated_date}}"></span></div>
                                                   
                                                </div>
                                                <div class="row" style="border-top:1px solid rgb(215, 213, 213);">
                                                    <div class="col bg-white text-black p-3">
                                                        <span>Remarks: </span>
                                                        <span style="font-family: Roboto-bold;">{{r.remarks}}</span>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% elif r.status_of_request == 'pending' %}
                                    <div class="container mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                                        <div class="row align-items-stretch">
                                            <!-- Small width column for icon -->
                                            <div class="col-2 icon-col d-flex align-items-center" style="color:#000; text-align: center;">
                                                <div class="row" style="color:#bbba81;">
                                                    <div class="col-12">
                                                        <i class="fa-solid fa-hourglass-half" style="font-size:80px;"></i>
                                                    </div>
                                                    <div class="col-12" style="text-transform: uppercase;">
                                                        {{r.status_of_request}}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- Second column with two rows -->
                                            <div class="col" style="text-align: left;">
                                                <div class="row">
                                                    <div class="col bg-white text-black p-3">
                                                        <span>Datastack Name: </span>
                                                        <span style="font-family: Roboto-bold;"> {{d.datastack_name}}</span>
                                                    </div>
                                                </div>

                                               
                                                <div class="row" style="border-top:1px solid rgb(215, 213, 213);">
                                                    <div class="col-4 bg-white text-black p-3">Date Requested<br><span id="formattedDates" style="font-family: Roboto-bold;" data-date="{{r.creation_date}}"></span></div>
                                                    <div class="col-4  bg-white text-black p-3"> <span style="color:rgb(0, 127, 231); font-family: Roboto-bold;">Please wait at least 24 hours for approval.</span></div>
                                                    <div class="col-4 bg-white text-black p-3"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="container mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                                        <div class="row align-items-stretch">
                                            <!-- Second column with two rows -->
                                            <div class="col-12" style="text-align: left;">
                                                <div class="row">
                                                    <div class="col bg-white text-black p-3">
                                                        NO SUBSCRIPTIONS
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            
                                </div>
                                <hr>
                            </div>
                        </div>
    
                        <!-- Tab 2 Content -->
                        <!-- <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2-tab">
                            <div class="row">
                                <div class="col-12">
                                    <b style="font-family: Roboto-bold;">License Agreement : </b>
                                </div>
                                <div class="col-12">
                                   <a href="http://google.com">Click here</a>
                                </div>
                                <hr>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        
        

    </div>
    <script>
        function formatDate(dateString) {
            let dateObj = new Date(dateString);  // Convert string to Date object
            
            let options = { year: 'numeric', month: 'long', day: 'numeric' };
            let formattedDate = dateObj.toLocaleDateString('en-US', options);

            let timeOptions = { hour: '2-digit', minute: '2-digit', hour12: true };
            let formattedTime = dateObj.toLocaleTimeString('en-US', timeOptions);

            return `${formattedDate} at ${formattedTime}`;
        }

        // Find the span and update its content dynamically
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("[data-date]").forEach(el => {  
            let rawDate = el.getAttribute("data-date");  
            if (rawDate!=="")
                el.innerText = formatDate(rawDate) + " (UTC)";
            });
});
    </script>
    
    <!-- Search and Filter -->

    
    <!-- Data List (Placeholder) -->
    
    
    <!-- Opportunities Section -->
    <!-- <div class="container mt-5" id="opportunities">
        <h2 class="text-center">Entrepreneurship Opportunities</h2>
        <p class="text-center">Find government-supported schemes and private opportunities.</p>
    </div> -->
    
    <!-- Footer -->
{% endblock content %}  
    
   