{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign UP {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
<style>

</style>
{% block content %}

    <main class="hero-section-2">
        <section class="mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <p class="text-center">
                </p>
                <div class="row justify-content-center ">
                    <div class="col-12  align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Request Datastack
                                </h1>
                                <br />
                                <p style="color:#2fb0bf;">
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                        Please verify the details and enter data in required fields.
                                    {% endif %}                                     
                                </p> 
                            </div>
                            
                            {% if success %}
                                <div class="d-grid">
                                    Go to Dashboard -> Subscriptions to know the status of this request.
                                </div>

                            {% else %}

                            
                                <form method="post" action="" enctype="multipart/form-data" class="mt-4">
                                    {{form.hidden_tag() }}
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <label id="labelx" for="first_name" class="labelx">Requested Datastack Name</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <span class="fas fa-database"></span>
                                                </span>
                                                <input class="form-control" id="datastack_name" name="datastack_name" type="text" disabled value="{{datastack.datastack_name}}">
                                                
                                            </div>
                                            <ul ><li style="font-size:10px;">If this is incorrect, go back and choose correct datastack as per your requirements</li></ul>
                                        </div>
                                    </div>
                                    <div class="row">   
                                        <div class="col-md-6 mb-3">
                                            <label id="labelx"  for="last_name">Requesting user's First Name</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <span class="fas fa-user"></span>
                                                </span>
                                                <input class="form-control" id="last_name" name="last_name" type="text" disabled value="{{current_user.first_name}}">                                               
                                            </div>
                                              <ul ><li style="font-size:10px;">If this is incorrect, update your profile in your dashboard</li></ul>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label id="labelx"  for="last_name">Requesting user's Last Name</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <span class="fas fa-user"></span>
                                                </span>
                                                <input class="form-control" id="last_name" name="last_name" type="text" disabled value="{{current_user.last_name}}">                                               
                                            </div>
                                            <ul ><li style="font-size:10px;">If this is incorrect, update your profile in your dashboard</li></ul>
                                        </div>
                                    </div>

                                    <div class="row align-items-center">
                                        {% if not 'Individual' in current_user.type_of_organization %}
                                        <div class="col-md-6 mb-3">
                                            <label id="labelx"  for="name_of_organization">Name of Organization</label>
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <span class="fas fa-file-signature"></span>
                                                </span>
                                                <input class="form-control" id="name_of_organization" name="name_of_organization" type="text" disabled value="{{current_user.name_of_organization}}">                                               
                                            </div>
                                            <ul ><li style="font-size:10px;">If this is incorrect, update your profile in your dashboard</li></ul>
                                        </div>
                                        {% endif %}

                                        <div class="col-md-6 mb-3">
                                            <label id="labelx"  for="type_of_organization">Type of Organization</label>
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <span class="fas fa-file-signature"></span>
                                                </span>
                                                <input class="form-control" id="type_of_organization" name="type_of_organization" type="text" disabled value="{{current_user.type_of_organization}}">                                               
                                            </div>
                                            <ul ><li style="font-size:10px;">If this is incorrect, update your profile in your dashboard</li></ul>
                                        </div>
                                        
                                        
                                        
                                    </div>

                                    <div class="row align-items-center">
                                        <div class="col-md-6 mb-3">
                                            <label id="labelx"  for="email">Email address </label>
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <span class="fas fa-envelope"></span>
                                                </span>
                                                <input class="form-control" id="email" name="email" type="text" disabled value="{{current_user.email}}">                                               
                                            </div>
                                            <ul ><li style="font-size:10px;">If this is incorrect, update your profile in your dashboard</li></ul>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label id="labelx"  for="phone">Mobile Number</label>
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    +91
                                                </span>
                                                <input class="form-control" id="phone" name="phone" type="text" disabled value="{{current_user.phone}}">                                               
                                            </div>
                                            <ul ><li style="font-size:10px;">If this is incorrect, update your profile in your dashboard</li></ul>
                                        </div>
                                        
                                        
                                        
                                    </div>
                                    <div class="row">



                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label id="labelx" for="authority_document">
                                                    {% if not 'Individual' in current_user.type_of_organization %} 
                                                        Upload Authority Letter from Department
                                                    {% else %}
                                                        Upload certificate of Self declaration
                                                    {% endif %}
                                                </label>
                                                {{form.authority_document(placeholder="Authority letter", class="input form-control")}}
                                            </div>
                                            {% if 'Individual' in current_user.type_of_organization %} 
                                            <ul ><li style="font-size:10px;">You are applying as Individual/ Citizen, you need to upload a self-signed certificate of declaration of request. Sample can be downloaded here</li></ul>
                                            {% else %}
                                            <ul >
                                                <li style="font-size:10px;">Your organization type is {{current_user.type_of_organization}}. You need to upload an authority letter from your Head of Department/ Nodal Officer/ Authorizing Officer on their official letter head. A sample authority letter is provided here</li>
                                                <li style="font-size:10px;">Supported document type: PDF</li>
                                            </ul>
                                            {% endif %}
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label id="labelx" for="identity_document">Upload Identification Document</label>
                                                {{form.identity_document(placeholder="Identity document", class="input form-control")}}
                                                <!--form.name_of_organization(placeholder="Name of Organization", class="input form-control", type="text")-->
                                                <!-- <input class="form-control" id="name_of_organization" name="name_of_organization" type="text" placeholder="Name of organization" required=""> -->
                                            </div>
                                            <ul ><li style="font-size:10px;">You are required to upload any Government issued identification card/document</li><li style="font-size:10px;">Supported document type: PDF</li></ul>
                                           
                                        </div>
                                        
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <div class="form-group">
                                                <label id="labelx" for="name_of_organization">Purpose</label>
                                                {{form.purpose(placeholder="Purpose", class="input form-control", type="text")}}
                                            </div>
                                            <ul ><li style="font-size:10px;">Briefly explain your purpose of accessing the datastack</li></ul>
                                            
                                        </div>
                                        
                                    </div>


                                  
                                    <div class="mt-3">
                                        <div class="d-grid">
                                            <button type="submit" name="request-datastack" class="btn btn-gray-800">Sign UP</button>
                                        </div>
                                        
                                    </div>
                                </form>
                                <br />
                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <span class="fw-normal">
                                        Go Back to Data & Services? 
                                        <a href="{{ url_for('data_blueprint.dashboard') }}" class="fw-bold">Data and Services </a>
                                    </span>
                                </div>
                            
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
